{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
        <title>Show YouTube Tags</title>
        <link rel="stylesheet" href="{% static 'tags.css' %}">
        <link rel="stylesheet" href="{% static 'youtubevideodownload.css' %}">
        <link rel="stylesheet" href="{% static 'font-icons/css/font-awesome.min.css' %}">
        
    </head>
    <body>


    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="#" style="margin-left: 7;">RIVER FACILITIES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>



        <p style="text-align: center; font-weight: bold; font-size: 22px; padding-top: 20px;">
            CLEAR TAGS WHICH YOU NOT NEED:
        </p>
        <p>
           <div class="set_size">
            <div class="tags-input" data-name="tags-input" id="tago">
              
            </div>
           </div>
        </p>

        <br>
        <br>

        
        <p style="text-align: center; font-weight: bold; font-size: 22px;">
            INSTRACTIONS:
        </p>
        <p style="text-align: left; font-weight: bold; font-size: 15px; padding-left: 25%;">
            AUTOMATICALY WILL CLEAR TAGS IN BOTTOM PART.
        </p>
        <p style="text-align: left; font-weight: bold; font-size: 15px; padding-left: 25%;">
            SIMPALY JUST CLICK ON THE COPY BUTTON.
        </p>
        <p style="text-align: left; font-weight: bold; font-size: 15px; padding-left: 25%;">
            WILL COPY TAGS WHICH YOU CAN SEE IN BOTTOM TEXT AREA.
        </p>

        <b><p name="txt_copy" id="txt_copy"class="area_style"></p></b>

        
        {% comment %} <script src="{% static 'tags.js' %}"></script> {% endcomment %}

    <script>
        
            [].forEach.call(document.getElementsByClassName('tags-input'), function (el) {
        let hiddenInput = document.createElement('input'),
            mainInput = document.createElement('input'),
            tags = [];
    
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', el.getAttribute('data-name'));

        mainInput.setAttribute('type', 'text');
        mainInput.classList.add('main-input');
        mainInput.addEventListener('input', function () {
            let enteredTags = mainInput.value.split(',');
            if (enteredTags.length > 1) {
                enteredTags.forEach(function (t) {
                    let filteredTag = filterTag(t);
                    if (filteredTag.length > 0)
                        addTag(filteredTag);
                });
                mainInput.value = '';
            }
        });

        mainInput.addEventListener('keydown', function (e) {
            let keyCode = e.which || e.keyCode;
            if (keyCode === 8 && mainInput.value.length === 0 && tags.length > 0) {
                removeTag(tags.length - 1);
            }
        });

        el.appendChild(mainInput);
        el.appendChild(hiddenInput);

        var a = ["{% for i in empty_tags %}  {{ i }},  {% endfor %}"];
                var b = a[0];
                var c = b.split(", ");

                for(const i in c){
                    addTag(c[i]);
                }

        function addTag (text) {
            let tag = {
                text: text,
                element: document.createElement('span'),
            };

            tag.element.classList.add('tag');
            tag.element.textContent = tag.text;

            let closeBtn = document.createElement('span');
            closeBtn.classList.add('close');
            closeBtn.addEventListener('click', function () {
                removeTag(tags.indexOf(tag));
            });
            tag.element.appendChild(closeBtn);

            tags.push(tag);

            el.insertBefore(tag.element, mainInput);

            refreshTags();
        }

        function removeTag (index) {
            let tag = tags[index];
            tags.splice(index, 1);
            el.removeChild(tag.element);
            refreshTags();
        }

        function refreshTags () {
            let tagsList = [];
            tags.forEach(function (t) {
                tagsList.push(t.text);
            });
            hiddenInput.value = tagsList.join(',');
            var copa = document.getElementById("txt_copy");
            copa.innerHTML = tagsList;
        }

        function filterTag (tag) {
            return tag.replace(/[^\w -]/g, '').trim().replace(/\W+/g, '-');
        }
        });
        
    </script>

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'smooth-scroll.js' %}"></script>

    </body>
</html>